* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 4px;
  transition: 200ms;
}

.container:hover {
  box-shadow: 3px 3px 3px #123;
}

/* Header start */

.container .header {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.btn {
  width: 80px;
  height: 40px;
  outline: none;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.btn.block {
  display: block;
  width: 100%;
}

/* Header end */

/* Tasks start */
.task {
  margin: 10px 0;
  padding: 10px;
  background-color: #aca9a76e;
}

.task h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task.reminder {
  border-left: 5px solid green;
}

/* Tasks end */

/* Add Task Form start */
.add-form {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #968e8e;
}

.add-form>.form-control {
  margin-bottom: 20px;
}

.add-form>.form-control>label {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}

.add-form>.form-control>input {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  outline: none;
  border: none;
  background-color: #c7c9c227;
}

.add-form>.form-control.form-control-check {
  display: flex;
  align-items: center;
}

.add-form>.form-control.form-control-check>label {
  flex: 1;
  margin-bottom: 0;
}

.add-form>.form-control.form-control-check>input {
  flex: 3;
  height: 20px;
}

/* Add Task Form end */

.hide {
  display: none;
}